<!-- Cabeçalho -->
<%= render "visitors/home/renders/index/header" %>

<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-4 ">
			<%= render "visitors/home/renders/chat/chat_messages" %>
		</div>
		<div class="col-8">
			<div class="p-2 border">
				<p class="mb-0"><span class="ms-1 me-1"><b>Número do pedido #123</b></span> | <span class="ms-1 me-1">Última mensagem: 29/03/2022</span> | <a class="ms-1 me-1" href="">Ver detalhes do pedido</a></p>
			</div>

			<div class="p-2 border mt-3">
				<div class="text-center">
					<span>22/02/2022</span>
				</div>
				<div class="p-2 border mt-3 wd-60">
					<p class="mb-0"><b>Nome do vendedor</b> <br>
					Obrigado pela compra
					</p>
				</div>
				<div class="p-2 border mt-3  wd-60 ms-auto bg-success">
					<p class="mb-0"><b>Nome do cliente</b> <br>
					Tenho uma dúvida sobre a compra.
					</p>
				</div>
				<div class="p-2 border mt-3  wd-60">
					<p class="mb-0"><b>Nome do vendedor</b> <br>
					Obrigado pela compra
					</p>
				</div>
				<div class="p-2 border mt-3  wd-60 ms-auto bg-info">
					<p class="mb-0"><b>Nome do adminstrador</b> <br>
					Deixa eu parar com essa farra aqui.
					</p>
				</div>
			
				<div class="row d-flex align-items-center mt-4">
					<div class="col-11">
						<textarea name="" class="col-12" id="" rows="5"></textarea>
					</div>
					<div class="col-1">
						<a href=""><i class="bi bi-send-fill fs-2"></i></a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
</div>

