<!-- Cabeçalho -->
<%= render "visitors/home/renders/index/header" %>


<div class="container mt-5">
	<div class="row">
		<div class="col-12">
			<h5>Detalhes do pedido #123</h5>
		</div>

	
		<%= render "visitors/home/renders/purchased_order_details/order_status_purchased" %>
	
		<%= render "visitors/home/renders/purchased_order_details/seller_data_purchased" %>
	</div>
</div>
