
<div class="col-12 border MT-2">
	<div class="p-3">
		<div class="mt-3">
			<span>Data/hora pedido: 29/03/2022 - 09:30</span>
		</div>
		<div class="mt-3">
			<span>Cliente: Nome Completo do Cliente</span>
		</div>
		<div class="mt-3">
			<span>Endereço de entrega: Rua, número - Bairro - Cidade/Estado - CEP</span>
		</div>
		<div class="mt-3">
			<span>Sub total: R$ 600,00</span>
			<br>
			<span>Frete total: R$ 600,00</span>
			<br>
			<span>Valor total da compra: <b>R$ 600,00</b></span>
			<br>
			<span>Valor à receber: <b>R$ 600,00</b></span>
		</div>
		<div class="mt-3">
			<span>Forma de pagamento: Cartão de crédito</span>
			<br>
			<span>Situação do pagamento: Pago</span>
		</div>
		
	</div>
</div>
