<div>
		<p><b>Avalie o vendedor:</b></p>
		<div class="row">
			<div class="col-4">
				<p class="mb-0">Prazo</p>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star-fill text-primary"></i>
			</div>
			<div class="col-4">
				<p class="mb-0">Qualidade</p>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star text-primary"></i>
				<i class="bi bi-star text-primary"></i>
			</div>
			<div class="col-4">
				<p class="mb-0">Solução de problemas</p>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star-fill text-primary"></i>
				<i class="bi bi-star text-primary"></i>
				<i class="bi bi-star text-primary"></i>
			</div>
			<div class="col-12 mt-3">
				<label for="comentario">Cometário ou Sugestão</label>
				<div>
					<textarea class="col-12" name="" id="comentario"  rows="5">
					
					</textarea>
				</div>
			</div>
		</div>
	</div>