<h1>Olá, <%= @user.name %></h1>
<p>
	Você acaba de receber acesso a plataforma Mercado Topográfico.
	Acesse o sistema clicando <%= link_to "aqui", login_url %> com seu
	email e senha definidos pelo administrador.
</p>
<p>Tenha um bom dia!</p>
