<div class="col-12 col-md-3">
	<%= render "visitors/home/renders/footer/contact_data_fields", text_color: text_color, title: title, phone: phone, cellphone: cellphone, email: email, text_color: text_color %>
</div>