<% if !record.active %>
	<% span_class = 'bg-danger' %>
<% else %>
	<% span_class = 'bg-success' %>
<% end %>

<% span_text = record.get_active_text %>
<span class="badge <%= span_class %>"><%= span_text %></span>