<!-- Email de acesso -->
<div class="col-12 col-md-3 mb-3">
    <%= f.input :email, input_html: {class: 'text-lowercase no-space'} %>
</div>

<!-- Senha de acesso -->
<div class="col-12 col-md-3 mb-3">
    <%= f.input :password, input_html: {autocomplete: 'new-password'}  %>
</div>

<!-- Confirmação de senha -->
<div class="col-12 col-md-3 mb-3">
    <%= f.input :password_confirmation, input_html: {autocomplete: 'new-password'} %>
</div>