<button type="button" class="btn btn-outline-success btn-sm multi-<%= object_text %>-add my-2">
    <i class="bi bi-plus-circle-fill"></i>
    <%= t('model.add') %>
</button>

<%
# End of file _add_multiple_relation.html.erb
# Path: ./app/views/common_pages/_add_multiple_relation.html.erb
%>
