	/* Ícones de compartilhe nas redes */

.redes-footer .bi-twitter {
    color: #EB6215;
}

.redes-footer .bi-facebook {
    color: #EB6215;
}

.redes-footer .bi-linkedin {
    color: #EB6215
}

.redes-footer .bi-whatsapp {
    color: #EB6215
}

.redes-footer .bi-telegram {
    color: #EB6215;
}

.redes-footer .bi-youtube {
    color: #EB6215;
}
.redes-footer .bi-instagram {
    color: #EB6215;
}

.bg-top-footer {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.footer-01 a{
    color: white;
}

.bg-bt-footer {
    background-color: black;
}