.span-product-title {
	font-size:  18px;
	margin-bottom: 0px;

}

.title-product {
	color: black;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
}

.shadow {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	border: 1px solid #d8d8d8;
}

.card-custom small {
	font-size: 12px;
}

.bg-detail-product {
	background-color: #ebebeb;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.bg-product-cart {
	border: 1px solid #d8d8d8;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.wd-input {
	width:  90%;
}

.wp-input-qt {
	width: 100%;
}