.hg-service-name {
	height: 70px;
}

.hg-service-address {
	height: 100px;
}

.card-serv-full {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
	border: 1px solid #d8d8d8;

}

.btn-v {
	background-color: transparent!important;
	padding: 20px 30px;
	border: 1px solid #EB6215;
	text-decoration: none;
	color: #EB6215;
	font-weight: bold;
	border-radius: 5px;
}

.btn-v:hover {
	background-color: transparent!important;
	padding: 20px 30px;
	border: 1px solid #EB6215;
	text-decoration: none;
	color: #EB6215;
}

.btn-p {
	background-color: #EB6215!important;
	padding: 20px 30px;
	border: 1px solid yellow;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}
.btn-p:hover {
	background-color: #EB6215!important;
	padding: 20px 30px;
	border: 1px solid yellow;
	text-decoration: none;
	color: white;
}